<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Socket.io</title>
</head>
<body>
  <form>
    <input type="text" name="text" required />
    <button>送信</button>
  </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  const form = document.querySelector('form');
  form.addEventListener('submit', event => {
    event.preventDefault();

    const input = document.querySelector('input');
    socket.emit('message', input.value);
    input.value = '';
  });

  socket.on('message', message => {
    console.log('message:', message);
  })
</script>
</html>
